{{define "title"}}GGen &#8212; Generator{{end}} {{define "head"}}
<link rel="stylesheet" type="text/css" href="../assets/lib/css/slick.css">
<link rel="stylesheet" type="text/css" href="../assets/lib/css/slick-theme.css">
<link rel="stylesheet" type="text/css" href="../assets/lib/css/dropzone.css">
<link rel="stylesheet" type="text/css" href="../assets/lib/css/mb.slider.css">
<link rel="stylesheet" type="text/css" href="../assets/lib/css/bootstrap-progressbar.css">

<script type="text/javascript" src="../assets/lib/js/slick.js"></script>
<script type="text/javascript" src="../assets/lib/js/dropzone.js"></script>
<script type="text/javascript" src="../assets/lib/js/js.cookie.js"></script>
<script type="text/javascript" src="../assets/lib/js/fabric.min.js"></script>
<script type="text/javascript" src="../assets/lib/js/jquery.mb.slider.js"></script>
<script type="text/javascript" src="../assets/lib/js/bootstrap-progressbar.js"></script>
<script type="text/javascript" src="../assets/js/generator.js"></script>
{{end}}

{{define "content"}}
<section class="generatorForm">
    <!-- Upload image slide -->
    <div>
        <fieldset class="slickContainer">
            <legend class="slideTitle">Upload image</legend>
            <div id="canvasContainer"></div>
            <!-- Drag & drop image -->
            <div id="imageUploadContainer">
                <form action="generator/imageUpload" id="imageUpload" class="dropzone" enctype="multipart/form-data" method="POST"> </form>
            </div>

            <table id="formTable" style="padding-top:20px;">
                <tr>
                    <td style="padding-bottom: 11px;padding-right: 10px;">
                        <label style="font-weight: bold;">Brightness</label>
                    </td>
                    <td>
                        <div id="brightnessSlider" class="mb_slider" data-property="{minVal:-1,rangeColor:'green', maxVal:1, startAt:0, grid:0.003921}"
                            style="display:block;"></div>
                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom: 11px;padding-right: 10px;">
                        <label style="font-weight: bold;">Contrast</label>
                    </td>
                    <td>
                        <div id="contrastSlider" class="mb_slider" data-property="{minVal:-1,rangeColor:'green', maxVal:1, startAt:0, grid:0.003921}"
                            style="display:block;"></div>
                    </td>
                </tr>
            </table>

            <div class="slickControls">
                <button id="removeImage" type="button" disabled>Remove image</button>
                <button id="forwardToGeneralSettings" type="button" disabled>Next</button>
            </div>
        </fieldset>
    </div>
    <!-- Printer settings slide -->
    <div>
        <fieldset>
            <legend class="slideTitle">Printer settings</legend>
            <div class="slickControls">
                <table id="formTable">
                    <tr>
                        <td style="padding-right:10px;">
                            <label style="font-weight: bold;">Scale factor [mm]</label>
                        </td>
                        <td>
                            <input name="scaleFactor" type="number" step="0.5" value="125">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right:10px;">
                            <label style="font-weight: bold;">Model thickness [mm]</label>
                        </td>
                        <td>
                            <input name="modelThickness" type="number" min="0" max="2000" step="1" value="2">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right:10px;">
                            <label style="font-weight: bold;">Travel speed [mm/s]</label>
                        </td>
                        <td>
                            <input name="travelSpeed" type="number" min="0" max="2000" step="1" value="4">
                        </td>
                    </tr>
                </table>
                <div class="settingsContainer">
                    <button id="backToImageUpload" type="button">Back</button>
                    <button id="forwardToLoadingScreen" type="button">Generate!</button>
                </div>
            </div>
        </fieldset>
    </div>
    <!-- Loading slide -->
    <div>
        <div class="progress progress-striped">
            <div class="progress-bar" role="progressbar" data-transitiongoal="0"></div>
        </div>
    </div>
    <!-- Preview slide -->
    <div>
        <fieldset>
            <legend class="slideTitle">Preview</legend>
            <button id="download" type="button">Download GCode file</button>
            <button id="restartForm" type="button">Remake it</button>
            <button id="makeAnotherModel" type="button">Another one</button>
        </fieldset>
    </div>
</section>
{{end}}