{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	<title>{{template "title" .}}</title>

	<!--<link rel="stylesheet" href="../assets/css/style.css">-->
	<link rel="stylesheet" href="../assets/css/scribbler-landing.css">
	<link rel="stylesheet" href="../assets/css/pushy-buttons.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900" rel="stylesheet">

	<script src="../assets/js/jquery-3.3.1.min.js"></script> {{template "head" .}}
	<link rel="stylesheet" href="../assets/css/scribbler-global.css">

</head>

<body>
	<nav>
		<div class="logo" style="font-weight: bold;">GGEN</div>
		<ul class="menu">
			<div class="menu__item toggle">
				<span></span>
			</div>
			<li class="menu__item">
				<a href="" class="link link--dark">
					<i class="fa fa-github"></i> Github</a>
			</li>
		</ul>
	</nav>
	<div class="wrapper">
		{{template "content" .}}
	</div>
	<footer class="footer" style="background-color: #E8E8E8; color: #4A4A4A;">
		Lorem ipsum dolor sit amet. 2018 &copy; Cristiano Colangelo
	</footer>


</body>

</html>
{{end}}