{{define "title"}}GGen &#8212; Home{{end}}
{{define "head"}}{{end}}
{{define "content"}}
	<form action="generator">
		<button class="btn btn--lg btn--blue" type="submit" style="width: 100%">Take me to the G-Code Generator!</button>
	</form>
{{end}}
{{define "foot"}}{{end}}