{{define "homepage"}}
<!DOCTYPE html>
<html lang="en">

	<head>
		<title>GGen &#8212; Home</title>
		<link rel="stylesheet" href="../assets/css/style.css">
		<link rel="stylesheet" href="../assets/css/pushy-buttons.css">

		{{template "base_header"}}
	</head>

	<body>
		<header class="site-header" id="masthead">
			<nav class="nav container">
				<ul class="nav__menu" id="nav-primary">
					<li class="nav__menu-item home">
						<a class="nav__menu-link page-link" href="../" rel="home">GGEN</a>
					</li>
					<li class="nav__menu-item">
						<a class="nav__menu-link page-link" href="products.html" title="Products">Home</a>
					</li>
					<li class="nav__menu-item">
						<a class="nav__menu-link page-link" href="about.html" title="About Us">About</a>
					</li>
				</ul>
				<ul class="nav__menu" id="nav-secondary">
					<li class="nav__menu-item sign-in">
						<a class="nav__menu-link page-link" href="https://github.com/criscola" title="Github.com">Github.com</a>
					</li>
				</ul>
			</nav>
		</header>
		<div class="site-main" id="main">	
			<section class="section hero">
				<div class="container">
					<button class="btn btn--lg btn--blue" href="#" style="width: 100%">Take me to the G-Code Generator!</button>
				</div>
			</section>
			<footer class="site-footer" id="footer">
				<nav class="nav container">
					<ul class="nav__menu" id="menu-footer">
						<li class="nav__menu-item"><a class="nav__menu-link page-link" href="tos.html" title="Terms of Service">Terms</a></li>
						<li class="nav__menu-item"><a class="nav__menu-link page-link" href="privacy.html" title="Privacy Policy">Privacy</a></li>
						<li class="nav__menu-item"><a class="nav__menu-link page-link" href="faq.html" title="Frequently Asked Questions">FAQ</a></li>
					</ul>
				</nav>
				<div class="footnote container">
					<p class="footnote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quibusdam est quos quidem aliquid quae atque necessitatibus labore reprehenderit ducimus repellendus.</p>
				</div>
			</footer>
		</div>
		<!--<script src="assets/js/script.js"></script>-->
	</body>
</html>
{{end}}